{% extends 'base.html' %}
{% load static %}

{% block title %}
    Редактирование профиля - Job-Market
{% endblock %}

{% block content %}
    <section class="container py-5">
        <div class="shadow p-5">
            <h3 class="block-title text-uppercase pb-5 text-center">Редактировать профиль <span class="text-info">{{ user.get_full_name }}</span></h3>

            <form action="{% url 'profile_update_url' %}" method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ field.errors }}
                            </div>
                        {% endif %}

                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field.as_widget }}
                    </div>
                {% endfor %}
                <div class="text-center pt-4">
                    <button type="submit" class="btn btn-info px-3" style="font-size: 18px">Сохранить</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}