{% extends 'base.html' %}
{% load static %}

{% block title %}
    Job-Market
{% endblock %}

{% block content %}
    <section class="home-search" style="padding: 5rem; background-image: url({% static 'meeting.jpg' %}); background-size: cover; background-position: center;">
        <div class="container">
            <div class="row py-5">
                <div class="mx-auto">
                    <div class="shadow" style="padding: 5rem; background: rgba(255, 255, 255, 0.9);">
                        <h2 class="heading text-center text-uppercase pb-5" style="font-weight: 600;">
                            НАЙТИ РАБОТУ:
                        </h2>

                        <form id="job-main-form" method="get" action="{% url 'jobs_list_url' %}" class="job-main-form">
                            <div class="d-flex">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="profession">Вакансия</label>
                                        <input type="text" id="profession" name="job_query"
                                               placeholder="Вакансия для поиска" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="location_query">Адрес</label>
                                        <input type="text" id="location" name="location"
                                               placeholder="Адрес вакансии" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2 align-self-end mb-3">
                                    <button type="submit" class="btn btn-warning"> Найти </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newest-list py-5" style="background: #fafafa;">
        <div class="container">
            <h3 class="block-title text-center pb-5">Новые вакансии</h3>
            <div class="row featured align-items-stretch">
                {% for job in newest_jobs %}
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="full-height" style="background: white">
                            <div class="top">
                                <a href="{{ job.get_absolute_url }}">
                                    <div class="image" style="position: relative;">
                                        <img src="{% static 'featured1.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                            <div class="content text-center py-3">
                                <h5><a href="{{ job.get_absolute_url }}" class="text-uppercase" style="font-size: 15px; font-weight: 600; color: #ff7473; letter-spacing: 1px; word-spacing: 3px">{{ job.title }}</a></h5>
                                <p class="text-uppercase text-muted" style="font-size: 13px; letter-spacing: 1px">Зарплата: <span class="pl-2" style="font-weight: 700;">{{ job.salary }}&#8372;</span></p>
                                <p class="text-uppercase"><span style="color: #868e96; font-size: 0.75rem !important; letter-spacing: 1px;">{{ job.location }}</span>
                                    {% if job.type == '1' %}
                                        <span class="badge featured-badge badge-success" style="font-weight: 300;">Full time</span>
                                    {% elif job.type == '2' %}
                                        <span class="badge featured-badge badge-primary " style="font-weight: 300;">Part time</span>
                                    {% else %}
                                        <span style="color: #ffffff; font-weight: 300;" class="badge featured-badge badge-warning py-1 px-2">Internship</span>
                                    {% endif %}
{#                                    <span class="badge featured-badge badge-secondary " style="font-weight: 300;">{{ job.get_category_display }}</span>#}
                                </p>
                                <p style="font-size: 0.9rem; color: #868e96;">{{ job.description|truncatechars:50 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="popular-jobs container">
        <h3 class="block-title text-center pt-5 pb-4">Популярные вакансии</h3>
        <div class="pb-5">
            {% for job in popular_jobs %}
                    <div class="job shadow rounded my-5" style="width: 100%;">
                        <div class="mx-auto py-4" style="width: 90%">
                            <div class="types text-uppercase" style="letter-spacing: -0.5px;">
                                <p>
                                    {% if job.type == '1' %}
                                        <span class="badge featured-badge badge-success py-2 px-3" style="font-weight: 300;">Full time</span>
                                    {% elif job.type == '2' %}
                                        <span class="badge featured-badge badge-primary py-2 px-3" style="font-weight: 300;">Part time</span>
                                    {% else %}
                                        <span style="color: #ffffff; font-weight: 300;" class="badge featured-badge badge-warning py-2 px-3">Internship</span>
                                    {% endif %}
                                    <span class="badge featured-badge badge-secondary py-2 px-3" style="font-weight: 300;">{{ job.get_category_display }}</span>
                                </p>
                            </div>
                            <h3><a href="{{ job.get_absolute_url }}" class="text-body">{{ job.title }}</a></h3>
                            <p class="text-dark">
                                Зарплата:<span class="pl-2 pr-3" style="font-weight: 700;">{{ job.salary }}&#8372;</span>
                                Компания:<span class="pl-2" style="font-weight: 700;">{{ job.user.company_name }}</span>
                            </p>
                            <p>{{ job.description|truncatechars:200 }}</p>
                            <div class="d-flex justify-content-between">
                                <p class="text-secondary"><span>{{ job.location }}</span>
                                <p class="text-secondary">{{ job.created_at|timesince }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </section>

    <section class="bg-info text-center py-5">
        <div class="py-5">
            <p class="text-light font-weight-bold" style="font-size: 20px;">Начни искать <span class="text-warning">любимую</span> новую <span class="text-warning">работу</span> прямо сейчас</p>
            <a href="{% url 'jobs_list_url' %}" class="btn btn-outline-light btn-sm" style="font-size: 20px; font-weight: 600;">Предложения о работе</a>
        </div>
    </section>
{% endblock %}